#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  width: 100%;
}

.imgDetalle {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}
